body{
    background-color: #083b4c;
}

#grid{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    margin: auto;
    width: 60%;

}

.box{
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    text-align: center;
    background-color: #1389b2;
    font-weight: 500;
}

.box-multi-3{
    background-color: #0cd6a1;
}

.box-multi-5 {
    background-color: #ffd166;
}

.box-multi-15 {
    background-color: #f0466f;
}