#grid{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    margin: auto;

}

.box{
    height: 6rem;
    width: 6rem;
    text-align: center;
    background-color: aqua;
}

.box-multi-3{
    background-color: yellow;
}

.box-multi-5 {
    background-color: lightskyblue;
}

.box-multi-15 {
    background-color: lightgreen;
}